<template>
  <v-content>
    <v-card
      dark
      class="ma-3"
    >
      <v-card-title>Ping estimation</v-card-title>
      <v-card-text
        ref="card"
        v-resize="onResize"
      >
        <vue-funnel-graph
          ref="graph"
          :width="width"
          :height="height"
          :labels="labels"
          :values="values"
          :colors="colors"
          :direction="direction"
          :gradient-direction="gradientDirection"
          :animated="false"
          :display-percentage="false"
        />
      </v-card-text>
    </v-card>

    <h2 style="text-align: center">
      Kalman returned {{ value }} instead of {{ lastValue }}
    </h2>
  </v-content>
</template>

<script>
import {VueFunnelGraph} from 'vue-funnel-graph-js';
import {mapState} from 'vuex';

export default {
  name: 'About',
  components: {
    VueFunnelGraph,
  },
  data() {
    return {
      colors: [
        [
          '#FFB178',
          '#A0BBFF',
        ], [
          '#EC77FF',
          '#FF3C8E',
        ],
      ],
      direction: 'horizontal',
      gradientDirection: 'horizontal',
      height: 200,
      width: 600,
    };
  },
  computed: mapState(['value', 'lastValue', 'labels', 'values']),
  methods: {
    onResize() {
      this.width = this.$refs.card.clientWidth - 32;
      console.log(this.width);
      this.$refs.graph.graph.updateWidth(this.width);
    },
  },
};
</script>
