<template>
  <v-content>
    <VLayout column>
      <youtube
        ref="youtube"
        :video-id="videoId"
        style="width: 100%;"
      />
      <VLayout
        row
        class="ma-3"
      >
        <VBtn @click="playPause">
          -
        </VBtn>
        <VBtn @click="playVideo">
          <VIcon>play_arrow</VIcon>
        </VBtn>
        <VBtn @click="goAhead">
          +
        </VBtn>

        <VSpacer />
        <VBtn @click="resync">
          <VIcon>refresh</VIcon>
        </VBtn>
        <VSpacer />

        <VTextField
          v-model="search"
          outline
          label="Rechercher"
          append-icon="search"
          @keypress.enter="sendSearch"
          @click:append="sendSearch"
        />
      </VLayout>
    </VLayout>

    <div class="pictureGrid">
      <VImg
        v-for="(video, i) in searchResult"
        :key="video.id.videoId"

        v-ripple
        :src="video.snippet.thumbnails.high.url"
        :class="'video' + i"
        class="white--text"
        gradient="to top, black 30px, rgba(0,0,0,0) 40px"
        @click="sendProposal(video.id.videoId)"
      >
        <span class="title">
          {{ video.snippet.title }}
        </span>
      </VImg>
    </div>
  </v-content>
</template>

<style>
.pictureGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.video0 {
  grid-column: 2 / span 4;
  grid-row: span 4;
}
.video1 {
  grid-column: span 3;
  grid-row: span 3;
}
.video2 {
  grid-column: 5 / span 3;
  grid-row: span 3;
}
.video3, .video4 {
  grid-column: span 2;
  grid-row: span 2;
}

.pictureGrid .title {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<script>
import {mapState} from 'vuex';

export default {
  name: 'Home',
  data() {
    return {
      search: null,
    };
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    },
    ...mapState(['value', 'searchResult', 'videoId']),
  },
  methods: {
    playVideo() {
      this.player.playVideo();
    },
    async playPause() {
      this.player.pauseVideo();
      setTimeout(() => this.player.playVideo(), 100);
    },
    async goAhead() {
      this.player.seekTo(await this.player.getCurrentTime() + 1, true);
    },
    async resync() {
      const pos = await this.player.getCurrentTime();

      this.$socket.emit('setTime', pos);
    },
    sendSearch() {
      this.$socket.emit('search', this.search);
    },
    sendProposal(videoId) {
      this.$socket.emit('setVideo', videoId);
    },
    doProposal(accept) {
      if (accept) {
        this.videoId = this.proposal.videoUrl;
      }
      this.proposal = null;
    },
  },
  sockets: {
    setTime(time) {
      this.player.seekTo(time + this.value / 2000, true);
    },
  },
};
</script>
