<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>audio</span>
        <span class="font-weight-light">sync</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        text
        to="/"
      >
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn
        icon
        text
        to="/about"
      >
        <v-icon>insert_chart</v-icon>
      </v-btn>
    </v-app-bar>
    <keep-alive>
      <router-view />
    </keep-alive>
    <VSnackbar
      :value="proposal !== null"
      :timeout="0"
    >
      <div v-if="proposal !== null">
        Une nouvelle vidéo a été proposée : {{ proposal.videoUrl }}<br>
        {{ proposal.title }} <i>par</i> {{ proposal.channelTitle }}
      </div>

      <v-btn
        color="primary"
        text
        @click="doProposal(true)"
      >
        Accept
      </v-btn>
      <v-btn
        color="primary"
        text
        @click="doProposal(false)"
      >
        Close
      </v-btn>
    </VSnackbar>
  </v-app>
</template>

<script>
import {mapState, mapMutations} from 'vuex';

export default {
  name: 'App',
  computed: mapState(['proposal']),
  methods: mapMutations(['doProposal', 'pong']),
  sockets: {
    pong(v) {
      console.log('PONG');
      this.pong(v);
    },
  },
};
</script>
